.about_container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.about_overlay
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    z-index: 1;
    background-color: #070709;
    padding-bottom: 80px;
}

.about_heading
{
    font-size: clamp(3em , 6vw , 44vw);
    color:#FFF ;
    z-index: 1;
    text-align: center;
}

.about_content
{
    max-width: 75%;
    line-height: 1.85em;
    font-size: 1.1em;
    color:#A5ABB6 ;
    text-align: left;
    z-index: 1;
}