.about_container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.about_overlay
{   
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-color: #070709;
    padding-bottom: 80px;
}

.about_heading
{
    font-size: 5rem;
    color:#FFF ;
    z-index: 1;
}

.about_content
{
    max-width: 75%;
    font-size: 1.2rem;
    line-height: 2.2rem;
    color:#A5ABB6 ;
    text-align: left;
    z-index: 1;
}