.hero_container
{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hero_heading
{
    font-size: clamp(2em , 10vw , 66vw);
    color:#FFF ;
    z-index: 3;
}

.hero_overlay
{
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
    background-color: rgba(0,0,0,0.4);
}

.hero_content
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.hero_subheading
{
    font-size: clamp(1em , 3vw , 33vw);
    /* font-size: 2.5rem; */
    color:#A5ABB6 ;
    z-index: 3;
}

video{
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    position: fixed;
}

.hero_icon{
    color: #FFF;
    z-index: 3;
    transition: all 0.5s ease;
}

.arrow_link
{
    cursor: pointer;
    z-index: 3;
    
}

.hero_icon:hover
{
    color:  #185ADD;
}