.Gallery_Conatiner{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Gallery_Conatiner .Gallery_Window
{
    width: 70vw;
    height: 70%;
    /* border: 1px solid white; */
    overflow: hidden;
}

.Gallery_Window .Gallery_Crouser{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.Gallery_Crouser img
{
  min-width: 70vw;
  aspect-ratio: 16/9;
}

.Gallery_Box
{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.react-icons
{
  width: 40px;
  height: 40px;
}

.Gallery_Box button
{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding: 10px;
  cursor: pointer;
}