.contact_container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 32px; */
    background-color: #202328;
    z-index: 1;
}

.contact_backdrop
{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* padding: 32px; */
    background-color: #202328;
    z-index: 1;
}

.contact_socialMedia
{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    z-index: 2;
}

.contact_heading
{
    font-size: 5rem;
    color:#FFF ;
    z-index: 2;
}

.contact_box
{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    z-index: 2;
}

.footer_text
{
    font-size: 1.2rem;
    color: white;
    z-index: 2;
}

.contact_linkIcon
{
    color: #B0B5C0;
    cursor: pointer;
    transition: all 0.5s ease;
    height: auto;
    width: 45px;
    padding: 8px;
    z-index: 2;
}

.contact_linkIcon:hover
{
    border-radius: 50%;
    background-color: #185ADD;
    z-index: 2;
}