.card {
    width: 450px;
    height: 512px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    margin: 20px 15px ;
    border: 0.8px solid #14181a;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #14181a;
    color: #ffffff;
    transition: border-color 0.7s ease-in-out;
}

.card-skeleton
{
    width: 450px;
    height: 512px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* overflow: hidden; */
    margin: 20px 15px ;
    border: 0.8px solid #14181a;
    cursor: pointer;
    background-color: #14181a;
    color: #ffffff;
    transition: border-color 0.7s ease-in-out;
}
.card-title-skeleton
{
    margin: 50px 60px 0px 60px; 

}
.card-container {
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
}

/* .card:hover {
    opacity: 0.65;
    border-color: #ffff;
} */
.icons-container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icons-container button{
    width: 100px;
    height: 50px;
    border-radius: 12px;
    font-weight: 500;
    color: white;
    background-color: #185ADD;
    border: 2px solid #185ADD;
    cursor: pointer;
    transition: all 0.5s ease;
}

.icons-container button:hover{
    background-color: #14181a;
}
.icons{
    margin-bottom: 20px;
    transition: color 0.5s ease-in-out;
    color: #646D7D;
}
.icons:hover{
    cursor: pointer;
    color: #185ADD;
}
.card-image {
    width: 450px;
    height: 400px;
    object-fit: cover;
}

.card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-content-skeleton
{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card-title {
    padding: 20px;
    font-size: 28px;
}

.card-subtitle {
    margin-bottom: 30px;
}